<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package
      Name="MyCompanyApp"
      Manufacturer="MyCompany"
      Version="1.0.0"
      UpgradeCode="2F9C1A0A-8C0A-4E34-8C0F-111111111111">

    <MediaTemplate />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="MyCompanyApp"/>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="MyCompanyApp" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>

  </Package>

  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Guid="*" Bitness="always64">

        <File Source="..\..\src\MyCompanyApp.Wpf\bin\Release\net8.0-windows\win-x64\publish\MyCompanyApp.Wpf.exe"/>

      </Component>

    </ComponentGroup>

  </Fragment>

</Wix>
